@model IEnumerable<cooperoleo.Models.CondominioModel>

@{
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Condomínios</h1>           

            <p class="toolbar">
                <a class="create btn btn-dark" asp-controller="Condominio" asp-action="Inserir">Inserir Condomínio</a>
            </p>
            <table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="name">Contato</th>
                        <th data-field="edificio">Nome Edíficio</th>
                        <th data-field="endereco">Endereço</th>
                        <th data-field="conteinerId">Id Conteiner</th>
                        <th data-field="ativo">Ativo</th>
                        <th class="actions" width="220">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var condominio in Model)
                    {
                        <tr>
                            <td data-field="id">@condominio.CondominioId</td>
                            <td data-field="contato">@condominio.Contato</td>                            
                            <td data-field="name">@condominio.NomeCondominio</td>
                            <td data-field="endereco">@condominio.Endereco</td>
                            <td data-field="conteinerId">@condominio.ConteinerId</td>
                            <td data-field="ativo">
                                @if(@condominio.Ativo == true)
                                {
                                    <p>Sim</p>
                                }
                                else
                                {
                                    <p>Não</p>
                                }
                            </td>
                            <td class="actions" width="220">
                                <a asp-controller="Condominio" asp-action="detalhar" asp-route-id="@condominio.CondominioId" class="btn btn-outline-info btn-sm">Detalhes</a>
                                <a asp-controller="Condominio" asp-action="editar" asp-route-id="@condominio.CondominioId" class="btn btn-outline-warning btn-sm">Editar</a>
                            </td>
                        </tr>        
                    }
                              
                </tbody>
            </table>
        </div>
    </div>
</div>
